<div class="contents-title text-center">
  <h2>施設一覧</h2>
</div>
<div class="row">
  <div class="card-deck justify-content-center">
    <% @gyms.each do |gym| %>
      <%= link_to("/gyms/#{gym.id}") do %>
        <i class="col-12 col-md-6 col-lg-4 text-card-container"></i>
        <div class="card content-card border-dark">
          <div class="card-header p-0">
            <img class="card-img-top" ><%= gym.google_map_url %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= gym.gyms %></p>
            <p>【<%= gym.area %>】</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
